<tr id="cart-<%= product.id %>">
  <td class="cart_product">
    <%= image_tag product.image %>
  </td>
  <td class="cart_description">
    <h4><a href=""><%= product.name %></a></h4>
    <p><%= t ".id" %><%= product.id %></p>
  </td>
  <td class="cart_price">
    <p><%= t ".$" %><%= product.cost %></p>
  </td>
  <td class="cart_quantity">
    <div class="cart_quantity_button">
      <input class="cart_quantity_input" type="text" id="number" name="quantity" value="<%= "#{product.quantity_cart}" %>" autocomplete="off" size="2">
    </div>
  </td>
  <td class="cart_total">
    <p class="cart_total_price"><%= product.size_cart %></p>
  </td>
  <td class="cart_total">
    <p class="cart_total_price"><%= t ".$" %><%= product.total_cart %></p>
  </td>
</tr>
