<tr>
  <td><%= order.id %></td>
  <td><%= order.total %></td>
  <td><%= order.subtotal %></td>
  <td><%= order.address %></td>
  <td id="status-<%= order.id %>"><%= render partial: "shippers/status_order", locals: {order: order} %></td>
  <td><%= order.created_at %></td>
  <td><%= return_ship_cost order %></td>
  <% if order.shipping? %>
    <td id="finished-<%= order.id %>"><%= link_to t(".finished"), finished_order_path(order_id: order.id), remote: true, class: "btn btn-danger", id: "show_order" %></td>
  <% end %>
</tr>


