<div class="product-details">
  <div class="col-sm-5">
    <div class="view-product">
      <%= image_tag @product.image %>
      <h3><%= t ".zoom" %></h3>
    </div>
    <div id="similar-product" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <a href=""><%= image_tag "product-details/similar1.jpg" %></a>
          <a href=""><%= image_tag "product-details/similar2.jpg" %></a>
          <a href=""><%= image_tag "product-details/similar3.jpg" %></a>
        </div>
        <div class="item">
          <a href=""><%= image_tag "product-details/similar1.jpg" %></a>
          <a href=""><%= image_tag "product-details/similar2.jpg" %></a>
          <a href=""><%= image_tag "product-details/similar3.jpg" %></a>
        </div>
        <div class="item">
          <a href=""><%= image_tag "product-details/similar1.jpg" %></a>
          <a href=""><%= image_tag "product-details/similar2.jpg" %></a>
          <a href=""><%= image_tag "product-details/similar3.jpg" %></a>
        </div>
      </div>
      <a class="left item-control" href="#similar-product" data-slide="prev">
      <i class="fa fa-angle-left"></i>
      </a>
      <a class="right item-control" href="#similar-product" data-slide="next">
      <i class="fa fa-angle-right"></i>
      </a>
    </div>
  </div>
  <div class="col-sm-7">
    <div class="product-information">
      <% if logged_in? %>
        <div id="wish_box">
          <%= render "following/following-button", prd: @product %>
        </div>
      <% end %>
      <%= image_tag "product-details/new.jpg", class: "newarrival" %>
      <h2><%= @product.name %></h2>
      <p>
        <b>
          <%= rating_for @product, :quality, disable_after_rate: true, cancel: false, star: Settings.num_stars %>
          <%= @product.rates("quality").count %>
        </b>
        <%= t ".votes" %>
      </p>
      <span>
        <span>
          <%= t ".usd" %>
          <%= @product.cost %>
        </span>
        <label><%= t ".quantity" %></label>
        <input type="text" value="" />
        <button type="button" class="btn btn-fefault cart">
          <i class="fa fa-shopping-cart"></i>
          <%= t ".add-cart" %>
        </button>
      </span>
      <p><b><%= t ".available" %></b></p>
      <p><b><%= t ".condition" %></b></p>
      <p><b><%= t ".brand" %></b></p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12" id="comments">
          <% if  logged_in?%>
            <%= render partial: "comments/form", locals: {comment: @comment} %>
          <% end %>
          <div id="show-products">
            <ul class="clean-list comment-items">
              <%= render @comments %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
